:host([hidden]) {
  display: none;
}

:host {
  display: block;
  box-sizing: border-box;
  background-color: var(--adom-card-color-bg-color, #00ff00);
  color: var(--adom-card-color-color, #fff);
  border: 1px solid #d7dfe3;
  border-radius: 4px;
  @apply(--adom-card-color);
}
.header {
  display: flex;
  padding: 1.25em;
  &__icon {
    margin-right: 20px;
    align-self: center;
    --iron-icon-height: 64px;
    --iron-icon-width: 64px;
  }
  &__heading {
    padding-top: 10px;
    font-size: 22px;
    &__subheading {
      padding: 0;
      font-size: 14px;
      font-weight: lighter;
      line-height: 0;
      color: rgba(255, 255, 255, 0.65);
    }
  }
}

.body {
  display: flex;
  padding: 1.25em;
  font-weight: lighter;
  &__counter {
    font-size: 22px;
    min-width: 200px;
  }
  &__description {

  }
}
